/*
http://wrapbootstrap.com/preview/WB0JR603C
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat|Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	font-family: 'Raleway', sans-serif;
}

code {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
}

.console {
	font-family: 'Inconsolata', monospace;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: black;
	opacity: .8;
	padding: 20px;
	color: white;
	z-index: 99999;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
	/*font-weight: bold;*/
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	line-height: 1.2;
}

h1 {
	margin: 0px 0;
}

h1.title{
	color: #416983;
}

.playersTitle{
	font-weight:bold;
	font-size:48px;
}

.carousel h1:after, .carousel h1:before {
    content: " ";
    display: none;
    width: 0;
    height: 2px;
    margin: 0;
}

h1:after, h1:before {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto 20px;
    background: #4fbfa8;
}

h1.title:after, h1.title:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px auto 20px;
    background: #ffffff;
}

h3 {
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
}

.hood-info h1 {
	margin: inherit;
}

.chart {
	max-width: 70%;
	margin: 0 auto;
}

.kpi-name {
	font-size: 16px;
}

.kpi {
	font-size: 40px;
	line-height: 42px;
}

.pos {
	color: #65b146;
}

.neg {
	color: #c52828;
}

p {
	color: #333;
}

code {
	display: inline-block;
	margin: 3px 3px 0 0;
}

.table {
	width: inherit;
}

th, td {
	padding: 5px 10px !important;
}

thead {
    background-color: #ffffff;
    color: #817f7f;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

.app-links img {
  max-width: 150px;
}

.featurette-image {
  max-width: 386.66px;
}

.search {
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.search > .shiny-input-container {
	display: inline;
}

.search > .shiny-input-container input{
	padding: 24px 14px;
	font-size: 21px;
}

.search.addrSearch input {
	padding: 6px;
	font-size: 14px !important;
}

div.addrSearch.search {
	width: 100%;
}

/* shinyapps.io override */

div#ss-connect-dialog {
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	text-align: center;
	padding: 75px 0;
	z-index: 999999;
	font-size: 1em;
}

div#ss-connect-dialog a,
div#ss-connect-dialog a:visited {
	color: #03BCC0 !important;
}

/* shinyapps.io override end */

#top-link-block {
	/*position: fixed;*/
	bottom: 20px;
	right: 10px;
	opacity: .5;
}

#top-link-block:hover {
	opacity: 1;
}

/* Legend */

.legend-custom {
	height: 50px;
	background: rgba(256,256,256,.8);
	text-align: center;
	padding: 10px;
}

.legend-group {
	display: inline;
	margin-right: 15px;
}

.legend-element-label {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

.legend-element-label[color='yelp'] {
	background: #03BCC0;
}

.legend-element-label[color='schools'] {
	background: #FF5850;
}

.legend-element-label[color='location'] {
	background: #C10250;
}

.legend-element-name {
	display: inline;
	line-height: 14px;
	margin: 0 auto;
	margin-left: 5px;
	position: relative;
	top: -4px;
}

/* Legend end */

@media screen and (max-width: 400px) {

	.kpi {
		margin-bottom: -15px;
		font-size: 52px;
		line-height: 1.2em;
	}

	.kpi-name:after {
		content: " ";
    display: block;
    width: 60%;
    height: 1px;
    margin: 20px auto 10px;
    background: #4fbfa8;
	}

	.kpi-group div:last-child div:last-child .kpi-name:after {
		width: 0;
	}

	.chart {
		max-width: 95%;
		margin: 0 auto;
	}

	.panel-body p {
		text-align: justify;
	}
}

/* ****** BEGIN ******* */
/* Property card styles */

.property-card-container a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

.property-card-container p a {
	font-size: inherit;
	display: inline;
	margin: inherit;
	width: inherit;
}

.property-card-container a:nth-of-type(2n) {
  margin-right: 0;
}


.property-card-container a:hover {
  text-decoration: none;
}

.property-card-container figure {
  margin: 0;
}

.property-card-container img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
}

.property-info {
    padding: 2px 16px 16px;
		margin-top: -100px;
		width: 100%;
		background: white;
		opacity: .8;
		animation: opacity-on 1s;
}

.property-card-container a:hover .property-info {
	-webkit-animation: opacity-off 1s;
	animation: opacity-off 1s;
	animation-fill-mode: forwards;
}

.property-price {
	display: inline;
}

.property-details {
	display: inline;
	align: right;
}

@media screen and (max-width: 800px){
  .property-card-container a {
      width: calc(50% - 6px);
  }
}

@media screen and (max-width: 400px){
  .property-card-container a {
      width: 100%;
  }
}

@media screen and (min-width: 50em) {
  .property-card-container a {
    width: calc(33% - 6px);
  }

  .property-card-container a:nth-of-type(2n) {
    margin-right: 8px;
  }

  .property-card-container a:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .property-card-container a {
    width: calc(50% - 10px);
  }

  .property-card-container a:nth-of-type(2n) {
    margin-right: 8px;
  }

  .property-card-container a:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .property-card-container a {
    width: 100%;
  }

  .property-card-container a {
    margin-right: 0;
		margin-bottom: 20px;
  }
}


@media screen and (max-width: 990px) {  
  .property-info {
	  margin-top: 0;
  }
}

@media screen and (min-width: 600px) {
	.property-card-container a img {
		/*filter: grayscale(100%);*/
		/*animation: color-to-gs 1s;*/
	}

	.property-card-container img {
		transition: transform .8s ease-in-out;
		/*filter: grayscale(100%);*/
	}

	.property-card-container a:hover img {
	  transform: scale(1.15);
		/*-webkit-animation: gs-to-color 1s;*/
		/*animation: gs-to-color 1s;*/
		/*animation-fill-mode: forwards;*/
	}

	.property-card-container a:hover div.property-info {
		transform: scale(1);
	}

	/* Code for old Chrome, Safari and Opera */
	@-webkit-keyframes gs-to-color {
	    from {filter: grayscale(100%);}
	    to   {filter: grayscale(0%);}
	}

	@-webkit-keyframes color-to-gs {
	    from {filter: grayscale(0%);}
	    to   {filter: grayscale(100%);}
	}

	/* Standard syntax */
	@keyframes gs-to-color {
		from {filter: grayscale(100%);}
		to   {filter: grayscale(0%);}
	}

	@keyframes color-to-gs {
		from {filter: grayscale(0%);}
		to   {filter: grayscale(100%);}
	}
}

/* Code for old Chrome, Safari and Opera */
@-webkit-keyframes opacity-off {
    from {filter: opacity(100%);}
    to   {filter: opacity(0%);}
}

@-webkit-keyframes opacity-on {
    from {filter: opacity(0%);}
    to   {filter: opacity(100%);}
}

@keyframes opacity-off {
    from {filter: opacity(100%);}
    to   {filter: opacity(0%);}
}

@keyframes opacity-on {
    from {filter: opacity(0%);}
    to   {filter: opacity(100%);}
}

/* Property card styles */
/* ******* END ******** */


@media print{
	.btn {
		display: none;
	}
}

a.button2{
	display:inline-block;
	padding:0.5em 3em;
	border:0.08em solid #00000000;
	margin:0 0.3em 0.3em 0;
	box-sizing: border-box;
	text-decoration:none;
	text-transform:uppercase;
	font-family:'Roboto',sans-serif;
	font-weight:200;
	font-size: 20px;
	color:#ffffff;
	text-align:center;
	transition: all 0.6s;
	}
	a.button2:hover{
	color:#DDDDDD;
	border-color:#DDDDDD;
	}
	a.button2:active{
	color:#BBBBBB;
	border-color:#BBBBBB;
	}
	@media all and (max-width:30em){
	 a.button2{
	display:block;
	margin:0.4em auto;
	}
}

body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("homeImage.png");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
h1:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto 20px;
    background: #ffffff;
}
h1:before {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto 20px;
    background: #00000000;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #00000000;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff !important;
}

.enter_button{
	font-size:20px;
	color:#2dbdb6;
	cursor:pointer;
	opacity:0.8;
  }

  .player_profile{
	cursor:pointer;
  }

  .icon {
	display: inline-block;
	width: 70px;
	height: 70px;
	background-size: cover;
	filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }
  .icon-calendar:hover,
  .icon-calendar:focus {
	filter: invert(5%) sepia(520) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }

i{
	color:#A0A0A0;
	font-size:45px;
}

i:hover{
	cursor:pointer;
	color:#337ab7;
}

.nav-icons{
	font-size:26px;
	color:#A0A0A0;
}

@media (max-width: 600px) {
	
  }

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
	.enter_button{
		font-size:10px;
		color:red;
		cursor:pointer;
		opacity:0.8;
	  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.align{
	vertical-align:top;
	display:inline-block;
	margin-left:10px;
  }

.reactBox {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
  }

.table-title{
	font-size: 20px;
}

.firebaseui-page-provider-sign-in, .firebaseui-page-select-tenant {
	background:white !important;
	padding:24px;
	border-radius:3px;
}

.mobile_firebase_css{
	position: relative; 
	top:250px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.mobile_firebase_css{
		position: relative; 
		top:0px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.mobile_firebase_css{
		position: relative; 
		top:0px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.mobile_firebase_css{
		position: relative; 
		top:250px;
	}
	.bgimg {
		background-image: url('../homeImage.png');
		min-height: 100%;
		background-position: center;
		background-size: cover;
	  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.mobile_firebase_css{
		position: relative; 
		top:250px;
	}
	.bgimg {
		background-image: url('../homeImage.png');
		min-height: 100%;
		background-position: center;
		background-size: cover;
	  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.mobile_firebase_css{
		position: relative; 
		top:250px;
	}
	.bgimg {
		background-image: url('../homeImage.png');
		min-height: 100%;
		background-position: center;
		background-size: cover;
	  }
}

.sticky-col {
	position: sticky;
	left: 0;
	background:#fff;
	zIndex: 1;
}

.sticky {
	position: sticky !important;
	background: #fff;
	z-index: 1;
  }
  
.left-col-1 {
left: 0;
}

.left-col-2 {
left: 100px;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.navbar-buffer{
	height: 70px;
}






/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
	line-height: 1.4em;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
  }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
	line-height: inherit;
  }
  
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
	padding-left: 40px;
	position: relative;
  }
  .timeline-item:last-child {
	padding-bottom: 0;
  }
  
  /*----- TIMELINE INFO -----*/
  .timeline-info {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0 0 .5em 0;
	text-transform: uppercase;
	white-space: nowrap;
  }
  
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15px;
  }

  .timeline-marker:hover{
	  cursor: pointer;
  }

  .timeline-marker:before {
	background: #FF6B6B;
	border: 3px solid transparent;
	border-radius: 100%;
	content: "";
	display: block;
	height: 15px;
	position: absolute;
	top: 4px;
	left: 0;
	width: 15px;
	transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
	content: "";
	width: 3px;
	background: #CCD5DB;
	display: block;
	position: absolute;
	top: 24px;
	bottom: 0;
	left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
	content: none;
  }
  
  .timeline-item:not(.period):hover .timeline-marker:before {
	background: transparent;
	border: 3px solid #FF6B6B;
  }
  
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
	padding-bottom: 40px;
  }
  .timeline-content p:last-child {
	margin-bottom: 0;
  }
  
  /*----- TIMELINE PERIOD -----*/
  .period {
	padding: 0;
  }
  .period .timeline-info {
	display: none;
  }
  .period .timeline-marker:before {
	background: transparent;
	content: "";
	width: 15px;
	height: auto;
	border: none;
	border-radius: 0;
	top: 0;
	bottom: 30px;
	position: absolute;
	border-top: 3px solid #CCD5DB;
	border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
	content: "";
	height: 32px;
	top: auto;
  }
  .period .timeline-content {
	padding: 40px 0 70px;
  }
  .period .timeline-title {
	margin: 0;
  }
  
  /*----------------------------------------------
	  MOD: TIMELINE SPLIT
  ----------------------------------------------*/
  @media (min-width: 768px) {
	.timeline-split .timeline, .timeline-centered .timeline {
	  display: table;
	}
	.timeline-split .timeline-item, .timeline-centered .timeline-item {
	  display: table-row;
	  padding: 0;
	}
	.timeline-split .timeline-info, .timeline-centered .timeline-info,
	.timeline-split .timeline-marker,
	.timeline-centered .timeline-marker,
	.timeline-split .timeline-content,
	.timeline-centered .timeline-content,
	.timeline-split .period .timeline-info,
	.timeline-centered .period .timeline-info {
	  display: table-cell;
	  vertical-align: top;
	}
	.timeline-split .timeline-marker, .timeline-centered .timeline-marker {
	  position: relative;
	}
	.timeline-split .timeline-content, .timeline-centered .timeline-content {
	  padding-left: 30px;
	}
	.timeline-split .timeline-info, .timeline-centered .timeline-info {
	  padding-right: 30px;
	}
	.timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
	  position: relative;
	  left: -45px;
	}
  }
  
  /*----------------------------------------------
	  MOD: TIMELINE CENTERED
  ----------------------------------------------*/
  @media (min-width: 992px) {
	.timeline-centered,
	.timeline-centered .timeline-item,
	.timeline-centered .timeline-info,
	.timeline-centered .timeline-marker,
	.timeline-centered .timeline-content {
	  display: block;
	  margin: 0;
	  padding: 0;
	}
	.timeline-centered .timeline-item {
	  padding-bottom: 40px;
	  overflow: hidden;
	}
	.timeline-centered .timeline-marker {
	  position: absolute;
	  left: 50%;
	  margin-left: -7.5px;
	}
	.timeline-centered .timeline-info,
	.timeline-centered .timeline-content {
	  width: 50%;
	}
	.timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
	  float: left;
	  text-align: right;
	  padding-right: 30px;
	}
	.timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
	  float: right;
	  text-align: left;
	  padding-left: 30px;
	}
	.timeline-centered > .timeline-item:nth-child(even) .timeline-info {
	  float: right;
	  text-align: left;
	  padding-left: 30px;
	}
	.timeline-centered > .timeline-item:nth-child(even) .timeline-content {
	  float: left;
	  text-align: right;
	  padding-right: 30px;
	}
	.timeline-centered > .timeline-item.period .timeline-content {
	  float: none;
	  padding: 0;
	  width: 100%;
	  text-align: center;
	}
	.timeline-centered .timeline-item.period {
	  padding: 50px 0 90px;
	}
	.timeline-centered .period .timeline-marker:after {
	  height: 30px;
	  bottom: 0;
	  top: auto;
	}
	.timeline-centered .period .timeline-title {
	  left: auto;
	}
  }
  
  /*----------------------------------------------
	  MOD: MARKER OUTLINE
  ----------------------------------------------*/
  .marker-outline .timeline-marker:before {
	background: transparent;
	border-color: #FF6B6B;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
	background: #FF6B6B;
  }

  .modebar{
	display: none !important;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
	color: #fff !important;
    background-color: #505050 !important;
    border-color: #505050 !important;
}

.table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
    background-color: #505050 !important;
    color: white;
}

a {
    color: #505050 !important;
}

.btn-primary {
    color: #fff;
    background-color: #505050 !important;
    border-color: #505050 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #505050 !important;
    border-color: #505050 !important;
	opacity: 0.8;
}

i:hover {
    cursor: pointer;
    color: #505050 !important;
}

.fa-sign-out-alt:hover{
    cursor: pointer;
    color: #b23b3b !important;
}

#signout{
	color: #b23b3b !important;
}

#signout:hover{
	color: #b23b3b !important;
}

.fa-sign-out-alt:before {
    content: "\f2f5";
	color: #b23b3b !important;
}

/* for all screens */
#info {display: none;}

/* only when orientation is in portrait mode */
@media all and (orientation:portrait) {
    #info {
         display: block;
    }
}

